<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie</title>
    <th:block th:replace="~{fragments/head-css :: head-css}"></th:block>
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main class="d-flex justify-content-center">
        <h1 class="m-4"
            th:text="${movie==null ? 'there is no movie with id '+ id : movie + ' total likes: ' + movie.likes}">
        </h1>
    </main>

</body>

</html>